.storecards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 30px;
  margin-block: 50px;
}
.card img {
  width: 150px;
  height: 200px;
}
.shoppingcard {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 600px; */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.d-flex button {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
}
.d-flex button:hover {
  color: white;
  background-color: black;
}
.nav-btn {
  position: relative;
}
.nav-btn i {
  position: absolute;
  font-size: 20px;
  right: 40px;
}
.nav-btn p {
  position: absolute;
  right: -35px;
  bottom: -20px;
}
.d-flex #show-cart {
  padding: 0 6px 0 6px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: white;
}
.d-flex button {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
}
.d-flex button:hover {
  color: white;
  background-color: black;
}
.nav-btn {
  position: relative;
}
.nav-btn i {
  position: absolute;
  font-size: 20px;
  right: 40px;
}
/* .nav-btn p {
  position: absolute;
  right: -35px;
  bottom: -12px;
} */

.edit img {
  /* background-size: cover; */
  object-fit: cover;
  background-position: top;
  height: 90vh;
}

.container {
  max-width: 1500px !important;
  padding: 0 !important;
}
.icon-style {
  display: flex;
  gap: 5px;
}
